body{
    padding: 5% 10%;
    font-family: 'Numans', sans-serif;
    font-size: 2vw;
    
}
div{
    padding-bottom: 20px;

}
h1{
    font-family: 'Numans', sans-serif;;
    font-size: 6vw;
    position: center;
    font-display: center;
}


#title{
    width: .3;
    padding-right: 20px;
}

div#intro{
    height: 100%;
    display: flex;
}

#introcontent{
    display:flex;
    flex-direction: column;
}

figure{
    display: -moz-inline-stack;
}
#electiongif{
    padding: 3%;
   
}

#presidentgif{
    width:600px;
    
}


#introtext{
    display:flex;
    size: 20px;
    padding: 20px;
}

.body{
   font-size: 20px;
   font-display: center;
   position: center;
   font-family: 'Numans', sans-serif;
   z-index: 1;

}

#history{

}

#recentSenate{
    display: flex;
    flex-direction:row;
}

#introswing{
    display: flex;
    flex-direction: column;
}

#swing{
    width: 60%;
    z-index: +1;
}

a.swing{
    position: fixed;
    font-family: 'Numans', sans-serif;
    font-size: 3vw;
    z-index: 1;

}
.animation{
    width: 110;
}

#SwingCompressed{
    opacity: 0.5;
}
#currentelection{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
#stateAge{
    display: flex;
    flex-direction: row;
}

#demographics {
    padding: 20px;
}

#electiondata{
    padding: 20px;
}

.electionresults{
    padding:20px;
}

.results{
    padding:20px;
}

.highlighted{
    background-color: #0F2639;
    color: white;
}
.changed{
    width: 100%;
    position: relative;
}
.congress{
    margin-top: 20px;
}

.ageDemo{
  
}
.raceStates{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-gap: 10px;

}


.mapcontainer{
    position: sticky;
    height: 200%;
    padding-top: 5vw;
    padding-bottom: 5vw;
    background-color: #F9F0E4;
    opacity: 1;
    transition: ease-in-out 1s;
  
  }
  #Scrolly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0rem, 1rem;
    text-justify: left;
}
.Scrollyside{
    padding-right:2rem;
    padding-top:2rem;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
}
#Scrolly > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
#introrace{
    padding-bottom: 3em;
}
.graphlabel{
    kerning: 1em;
    letter-spacing: 0.25em;
    position: relative;
    text-transform: uppercase;
    font-size: 2vw;
    z-index: -1;
    width: 80%;
}


.race{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 3em;
    column-gap: 2em;
    row-gap: 3px ;
    position: relative;
    width: 80%;

}

#raceLegend{
    position:sticky;
    top: 20px;
    height: 50%;
}

.state{
    font-size: 1vw;
    letter-spacing: 0.25em;
    text-align: center;
    margin: 1;
    padding-bottom: 20px;
    text-transform: uppercase;
    padding-left: 20px;
    position:center;
}

.statelabel{
    kerning: 1em;
    letter-spacing: 0.5em;
    position: relative;
    text-align: center;
    padding-bottom: 20px;
    text-transform: uppercase;
    padding-left: 20px;
}


.arizonaresults{
    font-size: 1vw;
    width:100%;
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    padding-top: 20px;

}
.coloradoresults{
    font-size: 1vw;
    width:100%;
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    padding-top: 40px;

}
.floridaresults{
    font-size: 1vw;
    width:100%;
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    padding-top: 40px;

}
.georgiaresults{
    font-size: 1vw;
    width:100%;
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    padding-top: 40px;

}

.georgia{
    height:120px;
}

.iowaresults{
    font-size: 1vw;
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    padding-top: 40px;

}

.iowa{
    height:90px;
}

.maine{
    height:160px;
}
.maineresults{
    font-size: 1vw;
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    padding-top: 40px;

}

.michigan{
    height:145px;
}
.michiganresults{
    font-size: 1vw;
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    padding-top: 40px;

}
.northcarolina{
    height: 120px;
}
.northcarolinaresults{
    font-size: 1vw;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding-top: 40px;

}
.ohio{
    height:145px;
}
.ohioresults{
    font-size: 1vw;
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    padding-top: 40px;

}

.pennsylvania{
    height:110px;
}
.pennsylvaniaresults{
    font-size: 1vw;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding-top: 40px;

}

.wisconsin{
    height:145px;
}
.wisconsinresults{
    font-size: 1vw;
    display: grid;
    grid-template-columns: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
    padding-top: 40px;

}

.sources{
    font-size: 10px;
    
}

#conclusion{
    padding: 20px;
}